body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1rem;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    background-color: #1b69f9;
    margin: 2rem;
}

.header__header {
    color: white;
    grid-column: span 3;
    display: flex;
    align-items: center;
    margin: 2rem auto 3rem auto;
}

.header__header > h1 {
    margin-right: 2rem;
    font-size: 3em;
}

.header__city-name {
    font-style: oblique;
    font-size: 2rem;
}

.header__city-name::before,
.header__city-name::after {
    content: "✨";
}

.degree__type {
    grid-column: span 3;
    grid-row: 1;
    text-align: right;
    color: white;
    accent-color: black;
}

.degree__type label{
    padding-right: 10px;
}

.controls__section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.temperature__section,
.sky__section,
.city-name__section {
    border-radius: 8px;
    padding: 2rem;
    background-color: white;
}

.temperature__section {
    grid-row: 2;
}

.temperature__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#tempValue {
    font-size: 3rem;
    margin: 0.5rem;
    text-align: center;
    width: auto;
    min-width: 3rem;
}

#tempValue {
    font-size: 3rem;
    margin: 0.5rem;
    text-align: center;
    width: auto;
}

.temperature__control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
}

#increaseTemperatureControl,
#decreaseTemperatureControl, 
.degree__type input {
    cursor: pointer;
}

.temperature__section button {
    background-color: #1b69f9;
    border: none;
    color: white;
    padding: 40px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.temperature__section button:hover {
    background-color: #00bfff;
}

.temperature__section button:active {
    background-color: #fffaf0;
}

.sky__section {
    grid-row: 3;
}

#skySelect {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.city-name__section {
    grid-row: 4;
}

.garden {
    align-self: center;
}

.garden__section {
    grid-row: 2 / span 3;
    grid-column: 2;
    text-align: center;
}

.garden__section > h2 {
    color: white;
}

.garden__content {
    min-height: 200px;
    max-width: 510px;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    font-size: 2em;
    transition: background-color 0.3s ease;
}

.city-name__reset {
    border: 0;
    background-color: #1655cc;
    color: white;
    border-radius: 8px;
    padding: 1rem;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.city-name__reset:hover {
    background-color: #00bfff;
}

.city-name__reset:active {
    background-color: #fffaf0;
}

.maroon {
    color: maroon;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: gold;
}

.yellow-green {
    color: yellowgreen;
}

.green {
    color: green;
}

.teal {
    color: teal;
}

.garden__content.sunny {
    background-color: rgb(221, 255, 255);
}

.garden__content.cloudy {
    background-color: lightgray;
}

.garden__content.rainy {
    background-color: lightblue;
}

.garden__content.snowy {
    background-color: lightsteelblue;
}

.degree__type {
    grid-column: span 3;
    grid-row: 1;
    text-align: right;
    color: white;
    accent-color: black;
}

.degree__type label{
    padding-right: 10px;
}